@font-face { font-family: 'Ubuntu Regular'; src: url('./font/Ubuntu-R.ttf') format('woff2'); }
@font-face { font-family: 'Ubuntu Light'; src: url('./font/Ubuntu-L.ttf') format('woff2'); }
@font-face { font-family: 'Ubuntu Bold'; src: url('./font/Ubuntu-B.ttf') format('woff2'); }

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu Light", sans-serif;
    font-size: 1.1rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 5vh;
    text-align: center;
}

h2 {
    font-family: "Ubuntu Regular", sans-serif;
    font-weight: normal;
    margin-bottom: 2vh;
}


body {
    height: 100vh;
}

#background {
    height: auto;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 10vh auto 10vh;
    /*https://uigradients.com*/
    background: linear-gradient(to top, #eea849, #f46b45);
}

label, summary {
    font-family: "Ubuntu Regular", sans-serif;
}

input, textarea {
    width: 96%;
    height: 2.3rem;
    border-radius: .4rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
    background: rgba(51, 51, 51, 0.05) none;
    outline: none;
    border: none;
}

textarea {
    resize: vertical;
    padding: 2%;
    margin: 1vh 0 1vh 0;
    background-color: rgba(51, 51, 51, 0.1);
}

textarea:focus, input:focus {
    outline: none;
}

li {
    list-style: none;
}

#toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    background-color: #EF9948;
    color: #000;
    text-align: center;
    align-self: center;
    border-radius: .4rem;
    padding: 1vh;
    position: fixed;
    z-index: 1;
}

#login_content {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    padding: 15% 15% 15% 15%;
    height: fit-content;
    flex-direction: column;
    background-color: #FFF;
    border-radius: .4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.input_login {
    padding-left: 2%;
    width: 98%;
}

::placeholder {
    font-size: .8rem;
}

.button {
    width: 100%;
    cursor: pointer;
    border-radius: .4rem;
    text-align: center;
    background-color: white;
    transition: background-color .7s ease;
}

.button_orange {
    margin-bottom: 1vh;
    background-color: #EF9948;
    color: #000;
    border: none;
}

.button_orange:hover {
    background-color: #f46b45;
}

.button_grey {
    background-color:rgba(51, 51, 51, 0.05);
}

.button_grey:hover {
    background-color:rgba(51, 51, 51, 0.3);
}

#chat_content {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    padding: 15% 15% 15% 12%;
    flex-direction: column;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

#chat {
    margin-bottom: 5vh;
}

#chat_history {



}

#users {
    cursor: pointer;
    background-color:rgba(51, 51, 51, 0.1);
    margin-bottom: 3vh;
    padding: .8rem;
    border-radius: .4rem;
}

.message_username {
    font-family: "Ubuntu Regular", sans-serif;
}

.message_user {
    width: fit-content;
    padding: .8rem;
    margin-bottom: 1.4vh;
    background-color: rgba(51, 51, 51, 0.1);
    border-radius: .4rem;
}

.message_self {
    width: fit-content;
    padding: .8rem;
    margin-bottom:1.4vh;
    background-color: rgba(239, 153, 72, 0.3);
    border-radius: .4rem;
}

.message_system {
    padding: .8rem;
    margin-bottom: 1.4vh;
    background-color: rgba(26, 119, 255, 0.2);
    font-style: italic;
    text-align: center;
    align-self: center;
    border-radius: .4rem;
}

.message_time {
    margin-top: .4vh;
    font-size: .8rem;
    text-align: right;
    color: rgba(51, 51, 51, 0.5);
}

.usernames {
    padding: 0 18px;
    margin: 1rem ;
    display: contents;
    overflow: hidden;
    background-color: #f1f1f1;
}

.online {
    color: green;
}

.offline {
    color: red;
}

@media only screen and (min-width: 992px) {

    #background {
        grid-template-rows: 5vh auto 10vh;
        grid-template-columns: 25vh auto 25vh;
    }

    #login_content {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        padding: 15% 15% 15% 15%;
        flex-direction: column;
        background-color: #FFF;
        border-radius: .4rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    }

    #chat_content {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        padding: 5% 15% 15% 15%;
        flex-direction: column;
        background-color: #FFF;
        border-radius: .4rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    }
}
